.head{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 0px 180px;
    margin: 0px 0px 30px 0px;
}

ul{
    list-style: none;
    float: right;
    padding: 15px 10px 0px 0px;
}

li{
    display: inline;
    padding: 0px 7px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.top{
    height: 50px;
    width: 100%;
}

.image{ 
    width: 100%;
    padding: 2px 10px;
}

.imaze{
    width: 100%;
    height: 100vh;
}

.a{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bolder;
  color: white;
}

.b{
    position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: bold;
  color: white;
  background-color: black;
  /* opacity: 0.5; */
}

.c{
    position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: #d12054;
  padding: 8px 25px;
  color: white !important ;
}

.two{
    padding: 70px 350px;
    
}

.d{
    color:white !important;
    background-color: #d12054;
    position: absolute;
    font-size: 25px;
    padding: 10px 20px;
}

.pp{
    padding: 10px 10px;
    text-align: center;
}

.e{
    width: 10%;
    display: inline;
}

.three{
    padding: 50px 100px;
    margin:0px 200px
}

*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none !important;
    color: black !important;
}

.spac{
    padding:0px 12px
}





